
hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
margin-bottom: 25px;
padding: 10px;
}

.card-img-top{
    margin: 4px;

}

.card{
    margin-top: 10px;
}

.navbar{
  margin-bottom: 20px;
}
.btn{
  padding: 10px;
  margin-bottom: 25px;
}

.produkt_list{
    padding: 10px;
}

li{
    list-style-type: none;
}

.footer{
    padding: 10px;
}